$font-family: "Sacramento";
$font-Roboto: "Roboto";
$bg-black: #191b1f;
$col-white: #ffff;
$col-blue: #0ff;
$col-blue: #08fdd8;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#root {
  margin: 0px auto;
  background-color: $bg-black;
  color: $col-white;
}
.container {
  width: 100%;
  max-width: 1410px;
  padding: 0px 15px;
  position: ralative;
  margin: 0px auto;
}

.header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
  background-color: $bg-black;
  opacity: 0.9;
  z-index: 1;
  color: $col-white;
  .header__logo {
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    cursor: pointer;
  }
  .header__navigation {
    display: flex;
    .navbar {
      align-items: center;
      display: flex;
      padding: 35px 0px;
      &__item {
        list-style: none;
        padding: 0px 15px;
        &-link {
          text-decoration: none;
          font-size: 18px;
          font-family: "Roboto";
          color: $col-white;
          cursor: pointer;
          a {
            text-decoration: none;
          }
        }
        &-link:hover {
          color: #0ff;
        }
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      .github__logo {
        padding: 0px 20px;
        height: 24px;
        filter: invert(89%) sepia(58%) saturate(2647%) hue-rotate(89deg)
          brightness(101%) contrast(98%);
      }
    }
    .menuIcon__box {
      display: none;
      justify-content: center;
      align-items: center;
      img {
        height: 28px;
        // filter: invert(89%) sepia(58%) saturate(2647%) hue-rotate(89deg)
        //   brightness(101%) contrast(98%);
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(254deg)
          brightness(103%) contrast(101%);
      }
    }
  }
  .sidebar__container {
    display: none;
  }
}

.body__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.body__left {
  width: 70%;
  display: flex;
  line-height: 32px;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
}

.information__content {
  div {
    padding: 4px 0px;
    font-family: $font-Roboto;
    font-size: 17px;
  }
  div:first-child {
    font-size: 18px;
    color: white;
    padding-bottom: 5px;
  }
  div:nth-child(2) {
    width: 20%;
    height: 1px;
    border-bottom: 2px solid white;
    padding: 0px;
    margin-bottom: 40px;
    border-radius: 5px;
  }
  div:nth-child(3) {
    font-family: $font-Roboto;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 30px;
  }
  div:nth-child(4) {
    font-size: 24px;
    font-weight: 600;
    font-family: $font-family;
    text-transform: uppercase;
    font-family: $font-Roboto;
    color: $col-blue;
  }
  div:nth-child(5) {
    font-size: 20px;
  }
}

.btt_getInTouch,
.btt__contact {
  margin-top: 20px;
  padding: 15px 40px;
  outline: none;
  border: none;
  font-weight: 300;
  border-radius: 10px;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
  background-color: $bg-black;
  border: 1px solid #08fdd8;
  color: #08fdd8;
  cursor: pointer;
}

.btt_getInTouch:hover,
.btt__contact:hover {
  background-color: #252727;
}

.body__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
  img {
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    opacity: 0.8;
    border-radius: 60px;
    padding-right: 5px;
  }
}
// about__container
.about__container {
  width: 100%;
  background-color: $bg-black;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  .about__left {
    margin-top: 50px;
    width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 100px);
    img {
      height: 90%;
      border-radius: 10px;
    }
  }
  // .about__left::after {
  //   content: "";
  //   position: absolute;
  //   // top: 39px;
  //   left: 24px;
  //   top: 42px;
  //   border-top: 9px solid$col-blue;
  //   border-left: 9px solid$col-blue;
  //   width: 377px;
  //   height: 470px;
  // }
  .about__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    .about__content {
      .about__item {
        padding: 2px 0px;
        font-family: $font-Roboto;
        line-height: 1.6;
      }
    }
  }
}

.about__content {
  .about__item:first-child {
    position: relative;
    color: $col-blue;
    font-size: 18px;
    font-family: "Quicksand";
  }
  .about__item:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100px;
    background-color: $col-blue;
    width: 50px;
    border: 1px solid$col-blue;
    height: 1px;
    border-radius: 5px;
  }
  .about__item:nth-child(2) {
    font-size: 30px;
    font-weight: 400;
    font-family: "Playfair Display";
  }
}

// project__container
.project__container {
  background-color: $bg-black;
  color: white;
  padding: 100px 0px;
  position: relative;
}
.project__container::before {
  content: "";
  height: 1px;
  width: 20%;
  top: 205px;
  left: 40%;
  border-top: 2px solid white;
  position: absolute;
  margin: 0 auto;
}

.title__content,
h3 {
  font-family: $font-Roboto;
  text-align: center;
  color: $col-white;
}

.title__content {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
  color: $col-blue;
}

.project__content {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
}

.item__img {
  height: 256px;
  width: 452px;
  border-radius: 10px;
  border-bottom: 2px solid $col-blue;
  border-right: 2px solid $col-blue;
  padding-right: 4px;
  padding-bottom: 4px;
}

.item__name {
  font-family: $font-Roboto;
  text-align: center;
  font-size: 20px;
  color: $col-blue;
  padding: 20px 0px;
}

.menu-item-container:last-child .item__img {
  transition: 500ms;
}

// footer
.contact__container {
  background-color: $bg-black;
  .contact__content {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-Roboto;
  }
}

.contact__content {
  .inner {
    .title__item:first-child {
      font-size: 40px;
      color: $col-blue;
      font-weight: 700;
    }
    .title__item {
      padding: 10px 0px;
    }
    .title__item:last-child {
      text-align: center;
      font-size: 20px;
    }
  }
}

.flexBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 50px;
  justify-content: center;
}

.flexLeft {
  // padding-top: 40px;
  // width: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .flexLeft__menu {
    // width: 35%;
    width: 354px;
    padding: 16px;
    display: flex;
    .img__item {
      height: 34px;
      filter: invert(76%) sepia(78%) saturate(1453%) hue-rotate(110deg)
        brightness(105%) contrast(98%);
    }
    .information__item {
      margin-left: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      text-decoration: none;
      color: $col-white;
    }
  }
}

.flexRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  display: none;
  input {
    cursor: pointer;
    margin-top: 20px;
    padding: 18px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid $col-white;
    background-color: $bg-black;
    color: white;
  }
  input:hover {
    border: 1px solid $col-blue;
  }
  .btt__sentMessage {
    cursor: pointer;
    width: 150px;
    padding: 15px 20px;
    color: $col-white;
    background-color: #128c7e;
    outline: none;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
  }
}

.footer {
  margin-top: 50px;
  padding: 30px 0px;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #128c7e;
  .brand__logo {
    .logo__img {
      cursor: pointer;
      height: 24px;
      padding: 0px 20px;
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(254deg)
        brightness(103%) contrast(101%);
    }
  }
  .text__port {
    padding: 15px 0px;
  }
}

//responsive
// @media only screen and(max-width:1600px) {
//   .about__container {
//     .about__left img {
//       height: 80%;
//     }
//   }
// }

// @media only screen and (max-width: 1024px) {
//   .body__container {
//     padding-top: 40px;
//     .body__right {
//       img {
//         height: 450px;
//       }
//     }
//   }

//   .about__container {
//     .about__left {
//       img {
//         height: 90%;
//       }
//     }
//   }
// }
@media only screen and (max-width: 992px) {
  .header__wrap {
    padding: 30px 0px;
  }
  .btt_getInTouch {
    margin-left: 26px;
  }

  .body__container {
    padding: 0px;
    .body__right {
      display: none;
    }
    .body__left {
      padding: 100px 0px;
    }
  }

  .information__content {
    div {
      text-align: center;
    }
  }

  .information__content div:nth-child(2) {
    display: none;
  }
  .information__content div:nth-child(3) {
    margin: 30px 0px;
  }

  .about__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    .about__right {
      width: 80%;
    }
  }
  // .about__left::after {
  //   content: "";
  //   position: absolute;
  //   left: -12px;
  //   top: 6px;
  //   border-top: 5px solid$col-blue;
  //   border-left: 5px solid$col-blue;
  //   width: 377px;
  //   height: 470px;
  // }
  .item__name {
    padding: 20px 0px 40px 0px;
  }

  .project__container {
    padding: 80px 0px 40px 0px;
  }

  .flexBox {
    padding-top: 40px;
  }

  .about__container {
    .about__left {
      margin: 0px;
    }
  }

  .flexBox {
    flex-direction: column;
    align-items: center;
    .flexRight {
      width: 70%;
    }
  }

  .flexRight {
    input {
      width: 400px;
    }
  }
}
// Chiều dọc của tablet(ipad)
@media only screen and (max-width: 768px) {
  .btt_getInTouch {
    margin-left: 40px;
    padding: 15px 20px;
  }

  .about__container {
    .about__left {
      img {
        height: 80%;
      }
    }
  }

  .header__wrap {
    .header__logo {
      font-size: 23px;
      color: $col-blue;
    }
    .header__navigation {
      .navbar {
        display: none;
      }
      .menuIcon__box {
        display: block;
      }
    }
    .sidebar__container {
      display: block;
      position: fixed;
      background-color: $bg-black;
      height: calc(100vh - 77px);
      top: 80px;
      left: -100%;
      width: -100%;
      padding-top: 90px;
      transition: left 500ms;
      .navbar__item {
        text-decoration: none;
        color: $col-blue;
        font-size: 20px;
        padding: 20px 0px;
        text-align: center;
      }
      .navbar__item:hover {
        background-color: #363737;
      }
    }
  }

  .sidebar__container.active {
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  .body__right {
    img {
      height: 352px;
      width: 74%;
    }
  }

  .flexBox .flexLeft {
    .flexLeft__menu {
      .img__item {
        height: 24px;
      }
    }
  }
}

@media only screen and(max-width: 640px) {
  .body__container {
    .body__left {
      padding: 60px 0px;
    }
  }
  .information__content {
    div:nth-child(3) {
      font-size: 60px;
    }
  }
  .about__container {
    .about__left {
      img {
        height: 75%;
      }
    }
    .about__right {
      padding: 0px;
    }
  }
  .information__content div:nth-child(4) {
    font-size: 22px;
  }
  .information__content div:nth-child(3) {
    margin: 25px 0px;
  }
  .information__content div:nth-child(5) {
    font-size: 18px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about__item:first-child {
      margin-right: 41px;
    }
    .about__item:nth-child(2) {
      margin-bottom: 14px;
    }
  }

  .btt__contact {
    margin-top: 18px;
    padding: 12px 40px;
  }

  .btt_getInTouch {
    font-size: 17px;
  }

  .title__content {
    font-size: 34px;
  }

  .contact__content {
    .inner {
      .title__item:first-child {
        font-size: 34px;
      }
    }
  }

  .flexBox {
    padding: 0px;
  }

  .item__img {
    height: 218px;
    width: 392px;
  }

  .flexLeft {
    margin-top: 60px;
  }
}
@media only screen and(max-width: 480px) {
  .about__container {
    .about__left {
      img {
        height: 70%;
      }
    }
  }

  .header__wrap {
    .header__logo {
      font-size: 21px;
    }
  }

  .information__content {
    div:nth-child(3) {
      font-size: 50px;
      margin: 18px 0px;
    }
    div:nth-child(4) {
      font-size: 18px;
    }
  }

  .flexRight {
    input {
      width: 318px;
    }
  }

  .flexBox {
    .flexLeft {
      .flexLeft__menu {
        width: 350px;
      }
    }
  }

  .item__img {
    height: 180px;
    width: 329px;
  }

  .title__content {
    font-size: 29px;
  }
}

@media only screen and(max-width: 375px) {
  .body__container {
    .body__left {
      height: calc(100vh - 170px);
    }
  }

  .about__container {
    .about__left {
      img {
        height: 60%;
      }
    }
  }

  .title__content {
    h3 {
      font-size: 15px;
    }
  }

  .item__img {
    height: 168px;
    width: 310px;
  }

  .about__content {
    .about__item:nth-child(2) {
      font-size: 24px;
    }
  }
  .title__content {
    font-size: 24px;
  }
  h3 {
    font-size: 17px;
  }
  .project__container::before {
    display: none;
  }
  .item__name {
    font-size: 18px;
  }

  .project__container {
    padding: 90px 0px 0px;
  }

  .project__content {
    padding-top: 62px;
  }
  .contact__content {
    .inner {
      .title__item:first-child {
        font-size: 28px;
      }
    }
  }

  .flexLeft {
    .flexLeft__menu {
      .information__item {
        margin-left: 20px;
        font-size: 16px;
      }
    }
  }

  .flexRight input {
    width: 285px;
  }

  .flexBox {
    .flexLeft {
      .flexLeft__menu {
        width: 318px;
      }
    }
  }

  .body__left {
    width: 100%;
  }

  .btt_getInTouch {
    margin-top: 30px;
    font-size: 14px;
  }
}
