$font-family: "Sacramento";
$font-NanumGothicExtraBold: "NanumGothicExtraBold";
$font-Roboto: "Roboto";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#root {
  height: 100vh;
}
.container {
  width: 100%;
  max-width: 1920px;
}

.header__wrap {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee8aa;
}
.header__logo {
  font-size: 30px;
  font-weight: 700;
  font-family: $font-family;
}
.navbar {
  align-items: center;
  display: flex;
  padding: 24px 0px;
  &__item {
    list-style: none;
    padding: 0px 15px;
    &-link {
      text-decoration: none;
      color: #897373;
      font-size: 18px;
      font-family: "Roboto";
    }
    // &-link:hover {
    //   color: ;
    // }
  }
}

.body__container {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
}

.body__left {
  width: 40%;
  display: flex;
  line-height: 32px;
  justify-content: center;
  align-items: center;
}

.body__right {
  padding: 0px 15px;
}
.information__content {
  position: relative;
  div {
    padding: 4px 0px;
    font-family: $font-Roboto;
  }
  div:first-child {
    font-size: 18px;
  }
  div:nth-child(2) {
    font-family: $font-Roboto;
    font-weight: 600;
    font-size: 60px;
    padding: 10px 0px 20px 0px;
  }
  div:nth-child(3) {
    font-size: 22px;
    // font-weight: 600;
    // font-family: $font-family;
    padding: 10px 0px 30px 0px;
    color: #eee8aa;
    text-transform: capitalize;
  }
}

// .information__content::before {
//   content: "\e1a8";
//   font-family: "font-awesome";
//   right: 0;
// }

.introduce__container {
  height: 100vh;
  width: 100%;
  background-color: #eee8aa;
}

.btt_hireMe {
  padding: 10px 20px;
  outline: none;
  border: none;
  box-shadow: 1px 2px 4px orange;
  font-weight: 400;
}
